[Unit]
Description=Saxon Server
After=network.target

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=nice -n 10 java -jar /usr/local/src/saxon-server-1.15.jar -i
StandardOutput=append:/var/log/odoo/saxonserver.log
StandardError=append:/var/log/odoo/saxonserver-error.log
KillMode=mixed
Restart=always
# number of seconds to attempt restart after failure
RestartSec=5

[Install]
WantedBy=multi-user.target
